<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Error Handling -->
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="403" />
      <remove statusCode="404" />
      <!-- Optionally, you can specify custom error pages here -->
    </httpErrors>

    <!-- URL Rewrite Rules -->
    <rewrite>
      <rules>
        <!-- Rewrite all requests to index.js -->
        <rule name="RewriteToNode" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
        <!-- Don't interfere with requests for debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^index.js\/debug[\/]?" />
        </rule>
      </rules>
    </rewrite>

    <!-- Directory Browsing -->
    <directoryBrowse enabled="true" />

    <!-- Node.js Handler -->
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- IIS Node Settings -->
    <iisnode devErrorsEnabled="true" debuggingEnabled="true" loggingEnabled="false" nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
  </system.webServer>
</configuration>