<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<!-- Disable IIS custom error handling -->
		<httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough">
			<remove statusCode="403" />
			<remove statusCode="404" />
			<remove statusCode="405" />
		</httpErrors>

		<!-- URL Rewrite Rules -->
		<rewrite>
			<rules>
				<!-- Rewrite all requests to index.js -->
				<rule name="RewriteToNode" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.js" />
				</rule>
			</rules>
		</rewrite>

		<!-- Node.js Handler -->
		<handlers>
			<add name="iisnode" path="index.js" verb="*" modules="iisnode" />
		</handlers>

		<!-- Disable Directory Browsing -->
		<directoryBrowse enabled="false" />
	</system.webServer>
</configuration>
