*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

h2 {
  color: red;
  font-family: "cooper black", sans-serif;
  text-align: center;
  font-size: 2em;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  padding-bottom: 1em;
}

a {
  color: magenta;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip:not(:has(> img)) {
  border-bottom: 1px dotted black;
}
.tooltip {
  cursor: help;
}
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 99999999999;
  top: 1em;
  left: 0;
  background-color: green;
  width: 30ch;
  padding: 3px;
  color: white;
  border: 2px solid black;
  text-align: left;
}
.tooltip-text a {
  color: brown;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

.new, h2.changelog-title:first-of-type, .new-small {
  position: relative;
}
.new::after, h2.changelog-title:first-of-type::after, .new-small::after {
  overflow: hidden;
  position: absolute;
  z-index: 99999999;
  top: -20px;
  right: -40px;
  rotate: 10deg;
  content: url("/image/icons/new.gif");
}
.new-small::after, .new-small-small::after {
  scale: 60%;
  right: -80px;
  rotate: -5deg;
}

.home-button {
  content: url("/image/buttons/home-button.gif");
}
.home-button:hover {
  outline: 2px red outset;
}

.title {
  font-size: 3em;
}

img#openImageWhenClicked {
  cursor: zoom-in;
}

table {
  width: 100%;
}
table, table th, table td {
  border: 3px solid black;
  border-collapse: collapse;
  padding: 5px;
}
table .centre {
  text-align: center;
}
table .left {
  text-align: left;
}

code {
  background-color: #1F1F1F;
  font-family: "consolas", monospace;
  padding: 1px 3px;
  border-radius: 5px;
  color: #9CDCFE;
  font-size: 0.85rem;
}
code.string {
  color: #CE8F70;
}
code.string::before {
  content: '"';
}
code.string::after {
  content: '"';
}
code.number {
  color: #B5CEA8;
}
code.keyword {
  color: #8b41b4;
}

body {
  background-image: url("/image/backgrounds/sky.jpg");
  background-repeat: repeat;
  background-color: skyblue;
}

header {
  background-color: magenta;
  color: white;
  border: 4px dashed white;
  border-bottom: none;
  text-align: center;
  font-size: 2.5rem;
  font-family: cursive;
}
@media (max-width: 800px) {
  header {
    font-size: 1rem;
  }
}

section.centre {
  background-color: antiquewhite;
  padding: 15px;
  outline: 3px solid brown;
}

section.side {
  background-color: rgb(244.3333333333, 212.3333333333, 169.6666666667);
  outline: 3px solid brown;
  padding: 15px;
  text-align: center;
}

h2.changelog-title {
  text-align: left;
  font-size: 2em;
  border-top: 2px solid black;
  margin-top: 10px;
}
.laser-kiwi {
  background-color: black;
  background-image: url("/image/random/laser-kiwi-no-laser.png");
  background-size: cover;
  background-position: center;
  height: 70px;
  width: 100%;
  border: 2px solid #a46811;
}
.laser-kiwi:hover {
  background-image: url("/image/random/laser-kiwi.png");
}

iframe.clock {
  pointer-events: none;
}

.interest-banner img {
  margin-bottom: 10px;
}
.interest-banner img:hover {
  outline: 3px solid magenta;
}

h2.changelog-title {
  text-align: left;
  font-size: 2em;
  border-top: 2px solid black;
  margin-top: 10px;
}

th {
  background-color: rgb(244.3333333333, 212.3333333333, 169.6666666667);
}/*# sourceMappingURL=home.css.map */