body {
	background-image: url("/image/backgrounds/sky.jpg");
	background-repeat: repeat;
}

// TODO: Don't use comic sans
header {
	background-color: magenta;
	color: white;
	border: 4px dashed white;
	border-bottom: none;
	text-align: center;
	font-size: 3em;
	font-family: cursive;
}

section.centre {
	background-color: antiquewhite;
	padding: 15px;
	outline: 3px solid brown;
}

section.side {
	background-color: darken(antiquewhite, 10%);
	outline: 3px solid brown;
	padding: 15px;
	text-align: center;
}

h2.changelog-title {
	text-align: left;
	font-size: 2em;

	border-top: 2px solid black;
	margin-top: 10px;
}

.laser-kiwi {
	background-color: black;
	background-image: url("/image/random/laser-kiwi-no-laser.png");
	background-size: cover;
	background-position: center;
	height: 70px;
	width: 100%;

	border: 2px solid #a46811;

	&:hover {
		background-image: url("/image/random/laser-kiwi.png");
	}
}

iframe.clock {
	pointer-events: none;
}

.interest-banner {

	img {
		margin-bottom: 10px;

		&:hover {
			outline: 3px solid magenta;
		}		
	}
}

h2.changelog-title {
	text-align: left;
	font-size: 2em;

	border-top: 2px solid black;
	margin-top: 10px;
}