@import "general";

body {
	background-color: $background-primary;
	color: $foreground-primary;

	overflow: hidden;
}

.layout {
	height: 100%;

	// Fancy as SVG background
	.background  {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -999999;

		svg {
			width: 100%;
			height: 100%;

			fill: $background-secondary;
		}
	}

	// Actual stuff yk
	.content {
		display: grid;
		grid-template-columns: 2fr 3fr;
		height: 100%;
	
		.half {

			// Left side (text and stuff)
			&.left {
				padding: 150px 100px;
	
				font-family: 'Times New Roman', Times, serif;
				h1 { font-size: 100px; }
				p { font-size: 35px; }
			}
	
			// Right side (CRT)
			&.right {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

span#explanation {
	position: relative;

	&:hover {
		cursor: url('../assets/image/point-up-emoji.svg') 16 0, pointer;
	}

	// Spawn in a div with a background image
	// showing the explanation
	&::before {
		content: "";

		position: absolute;
		top: 100%;
		left: 30%;

		width: 0%;
		height: 0%;
		overflow: hidden;
		transition: 0.2s ease-in-out;

		background-image: url('../assets/image/ferroequinology.png');
		background-size: cover;
		background-position: center;
	}

	&:hover::before {
		height: 300px;
		width: 600px;
	}
}