*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	// overflow-x: hidden;
}

h2 {
	color: red;
	font-family: "cooper black", sans-serif;
	text-align: center;
	font-size: 2em;
}

p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;
	padding-bottom: 1em;
}

a {
	color: magenta;
}

// TODO: Do different style ones (minecraft, clippy, etc)
.tooltip {
	position: relative;
	display: inline-block;

	// Underline text but not images
	&:not(:has(> img))
	{
		border-bottom: 1px dotted black;
	}

	cursor: help;

	&-text {
		visibility: hidden;
		position: absolute;
		z-index: 99999999999;

		top: 1em;
		left: 0;

		background-color: green;
		width: 30ch;
		padding: 3px;
		color: white;
		border: 2px solid black;
	}

	&:hover &-text {
		visibility: visible;
	}
}

.new, .new-small {
	position: relative;
	// overflow: hidden;

	&::after {
		position: absolute;
		z-index: 99999999;
		top: -20px;
		right: -40px;

		rotate: 10deg;
		content: url("/image/icons/new.gif");
	}

	&-small::after {
		scale: 60%;
		right: -80px;
		rotate: -5deg;
	}
}

.home-button {
	content: url("/image/buttons/home-button.gif");

	&:hover {
		outline: 2px red outset;
	}
}

.title {
	font-size: 3em;
}

img#openImageWhenClicked {
	cursor: zoom-in;
}