@font-face {
	font-family: "portal sign";
	// src: url("/font/UniversLTStd-BoldCn.ttf");
	src: url("/font/Univers LT Std 49 Light Ultra Condensed.otf");
}

@font-face {
	font-family: "portal sign 2";
	src: url("/font/UniversLTStd-BoldCn.ttf");
}

body {
	// TODO: Make this the black ones
	background-image: url("/image/backgrounds/portal-2-wall-texture.jpg");
	background-size: percentage(1 / 5);
	background-repeat: repeat;
}

.sign {
	position: absolute;
	width: 512px;
	height: 1024px;
	
	//! temp
	background-image: url("/image/random/TEMP.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;

	padding-left: 5%;
	.content {
		width: 80%;
		position: absolute;
	}

	input {
		border: none;
		outline: none;
		background-color: transparent;
	}
		
		
	input#chamberIndex {
		position: absolute;
		color: black;
		width: 150px;

		font-family: "portal sign";
		top: 0px;
		font-size: 535px;
		
		&:nth-of-type(1) {
			left: 5px;
		}

		&:nth-of-type(2) {
			left: 195px;
		}
	}

	input#progressText {
		position: absolute;
		top: 545px;
		left: 5px;

		font-size: 27px;
		font-family: "portal sign 2";
	}

	.progressBars {
		position: absolute;
		top: 584px;
		left: 1px;
		width: 94%;
		height: 60px;

		display: flex;

		img {
			height: 100%;
			width: 16.5px;
			margin: 0;
			padding: 0;
		}
	}

	.icons {
		position: absolute;
		width: 94%;
		height: 149px;
		top: 730px;
		left: 1px;

		// display: flex;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 9px;

		img {
			width: 70px;
			height: 70px;
		}
	}

	hr {
		position: relative;
		width: 96.5%;

		// TODO: Make this a little darker. Closer to black
		background-color: #616363;
		height: 3px;
		border: none;

		&:nth-of-type(1) {
			top: 75px;
		}

		&:nth-of-type(2) {
			top: 550px;
		}

		&:nth-of-type(3) {
			top: 680px;
		}
	}
}