@font-face {
	font-family: "portal sign";
	// src: url("/font/UniversLTStd-BoldCn.ttf");
	src: url("/font/Univers LT Std 49 Light Ultra Condensed.otf");
}

@font-face {
	font-family: "portal sign 2";
	src: url("/font/UniversLTStd-BoldCn.ttf");
}

body {
	background-image: url("/image/backgrounds/portal-2-wall-texture.jpg");
	background-size: percentage(1 / 5);
	background-repeat: repeat;
	background-color: #e7e2e2;
}

section.side {
	background-image: url("/image/backgrounds/portal-black-tiles.png");
	background-size: percentage(1);
	background-repeat: repeat;
	background-color: #e7e2e2;
	border: 5px solid #616363;

	text-align: center;
}

section.centre {
	background-image: url("/image/backgrounds/portal-black-wall-darker.png");
	background-size: percentage(1 / 2.5);
	background-repeat: repeat;
	background-color: #1c1c1c;
	border: 5px solid #616363;
	border-left: none;

	text-align: justify;
	color: #f4e9e9;
}

hr {
	border: 3px inset #5a2424;
}

.painting {
	box-shadow: 5px 5px 0.4em rgb(0, 0, 0, 0.5);
}

h1, p, a {
	font-family: Helvetica, sans-serif;
}

h1 {
	text-align: left;
}

.sign-wrapper {
	position: relative;
	width: 555px;
	height: 1064px;
	box-shadow: 10px 10px 0.4em rgb(0, 0, 0, 0.5);

	transform-origin: top left;
	transform: scale(0.8);
}

.sign-border {
	position: absolute;
	inset: 0;

	background-image: url("/image/portal/sign-clean-large-border.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&.hidden {
		background-image: none;
	}
}

.sign {	
	position: absolute;
	top: 21px;
	left: 21px;

	width: 512px;
	height: 1024px;

	//! temp
	// background-image: url("/image/random/TEMP.png");
	background-image: url("/image/portal/sign-clean-no-border.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.content {
		position: absolute;
		height: 100%;
		width: 80%;
		left: 100px;
	}

	input {
		border: none;
		outline: none;
		background-color: transparent;
	}
		
	input#chamberIndex {
		position: absolute;
		width: 150px;
		height: 635px;

		color: black;

		font-family: "portal sign";
		top: 0px;
		font-size: 535px;
		
		&:nth-of-type(1) {
			left: 5px;
		}

		&:nth-of-type(2) {
			left: 195px;
		}
	}

	input#progressText {
		position: absolute;
		top: 545px;
		left: 5px;

		font-size: 27px;
		font-family: "portal sign 2";
	}

	.progress-bars {
		position: absolute;
		top: 584px;
		left: 1px;
		width: 94%;
		height: 60px;

		display: flex;

		img {
			height: 100%;
			width: 16.5px;
			margin: 0;
			padding: 0;
		}
	}

	.icons {
		position: absolute;
		width: 94%;
		height: 149px;
		top: 730px;
		left: 1px;

		// display: flex;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 9px;

		img {
			width: 70px;
			height: 70px;

			&.off {
				opacity: 30%;
			}

			&:hover {
				cursor: pointer;
				-webkit-user-drag: none;
				user-select: none;
			}
		}
	}

	hr {
		position: absolute;
		width: 96.5%;

		// TODO: Make this a little darker. Closer to black
		background-color: #616363;
		height: 3px;
		border: none;

		&:nth-of-type(1) {
			top: 75px;
		}

		&:nth-of-type(2) {
			top: 565px;
		}

		&:nth-of-type(3) {
			top: 706px;
		}
	}

	.logo
	{
		position: absolute;
		width: 30%;
		left: 1px;
		top: 968px;
	}
}

button {
	padding: 10px;
	transform: translateY(-100px);
}