// Colors
$text: white;
$accent: #e89500;
$background: #191919;
$highlight: #deeeff;



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



html, body {
	height: 100%;
	font-family: 'Inter Tight', sans-serif;
	font-size: 2.4vh;

	// TODO: Maybe don't put this stuff here idk
	color: $text;
	background-color: $background;
}




main {
	height: 100%;

	a { color: $highlight; }
	span.highlight { color: $highlight }
}

.margin-large { margin: 5% 20%; }
.margin-small { margin: 3% 10%; }

.space { height: 50px; }

.text-centre {
	text-align: center;
}

.centre {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

footer {
	background-color: #282828;
	padding: 10px;
	text-align: right;

	a {
		color: $highlight;
		text-decoration: none;
	}
}


.fancy {
	font-family: 'Lobster';
	font-style: normal;
}


// Mobile stuff
@media only screen and (max-width: 760px) {

	header {
		height: 25%;

		.text {
			font-size: 3.5vh;
		}
	}

	main {
		margin: 5%;
	}
}