// Colors
$text: white;
$accent: #e89500;
$highlight: #deeeff;
$background: #191919;
$background-secondary: #212121;

// General styles
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100dvh;

	//? Set the default font size to be double the normal
	font-size: 1.8rem;
}

body {
	height: 100%;

	font-family: "Inter", sans-serif;

	background-color: $background;
	color: $text;
}

// Header
header {
	height: 35%;	
	display: grid;
	place-content: center;

	font-size: 2.5rem;
    font-family: "Inter Tight", sans-serif;
	font-style: italic;
	font-weight: bold;

	background-color: $accent;

	// Make the first letter of the title fancy
	h1::first-letter {
		font-family: "lobster", cursive;
		font-style: normal;
	}
}

// Navbar
nav {
	background-color: $background-secondary;
	height: 5%;
	// box-shadow: 0px 5px 10px black;
	
	ul {
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;

		list-style-type: none;

		// Actual links
		li a {
			color: $highlight;
			text-decoration: none;
		}
	}
}

// Actual content
main {
	margin: 3% 20%;
}

// Content
section {

	// Headings
	h2 {
		border-bottom: 5px solid $background-secondary;
		margin-bottom: 10px;
	}
}