* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	display: flex;
	justify-content: center;
}

main {

	max-width: 1024px;
	width: 100%;

	padding: 20px;
	margin-left: 15px;
	margin-right: 15px;

	.content-panels {
		display: grid;
		grid-template-columns: 1fr 5fr 1fr;
	}
}

header {
	background-color: magenta;
	color: white;
	text-align: center;
	font-size: 3em;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

p {
	padding-bottom: 1em;
}

figcaption {
	font-style: italic;
}

ul.vertical-nav {
	list-style-type: none;
}

.image-gallery {
	columns: 3;
	column-gap: 12px;

	figure {
		break-inside: avoid;
		margin-bottom: 12px;
	}
}

// TODO: Do different style ones (minecraft, clippy, etc)
.tooltip {
	position: relative;
	display: inline-block;

	border-bottom: 1px dotted black;
	cursor: help;

	&-text {
		visibility: hidden;
		position: absolute;
		z-index: 99999999999;

		top: 1em;
		left: 0;

		background-color: green;
		width: 30ch;
		padding: 3px;
		color: white;
		border: 2px solid black;
	}

	&:hover &-text {
		visibility: visible;
	}
}

// Twemoji stuff
img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
}