* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	display: flex;
	justify-content: center;
}

h2 {
	color: red;
	font-family: "cooper black", sans-serif;
	text-align: center;
	font-size: 2em;
}

p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;

	padding-bottom: 1em;
}

// TODO: Do different style ones (minecraft, clippy, etc)
.tooltip {
	position: relative;
	display: inline-block;

	border-bottom: 1px dotted black;
	cursor: help;

	&-text {
		visibility: hidden;
		position: absolute;
		z-index: 99999999999;

		top: 1em;
		left: 0;

		background-color: green;
		width: 30ch;
		padding: 3px;
		color: white;
		border: 2px solid black;
	}

	&:hover &-text {
		visibility: visible;
	}
}