// Colors
$text: white;
$accent: #e89500;
$background: #191919;
$highlight: #deeeff;



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



html, body {
	height: 100%;
	font-family: 'Inter Tight', sans-serif;
	font-size: 24px;

	// TODO: Maybe don't put this stuff here idk
	color: $text;
	background-color: $background;
}



header {
	background-color: $accent;
	color: $text;
	height: 60%;

	.text {
		padding: 5%;
		font-size: 85px;
		font-weight: 900;
		font-style: italic;
		text-align: center;
	}
}

main {
	margin: 5% 20%;

	h2 {
		font-weight: 900;
		font-style: italic;
		border-bottom: 2px solid #c0a0a0;
		margin-bottom: 15px;
	}

	a { color: $highlight; }
	span.highlight { color: $highlight }
}

.space { height: 50px; }