@import '../../../style/general';

table {
	
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	
	// Power headings
	th {
		padding: 15px;
		border: 5px solid #212121;
		background-color: #151515;
	}

	// Input thingys
	td {
		width: 10vh;
		height: 10vh;
		border: 5px solid #212121;

		button {
			width: 100%;
			height: 100%;
			
			font-size: 6vh;
			font-family: 'Anta', 'consolas', monospace;

			border: none;
			background-color: #303030;
			color: $accent;

			&:hover {
				background-color: #252525;
			}
		}
	}

}

//! If grid being difficult then just switch to flex
.split {
	display: grid;
	grid-template-columns: 1fr 2fr;
}



#characterInput {
	background-color: transparent;
	color: $text;
	outline: none;
	border: none;
	border-bottom: solid 1vh $accent;

	font-size: 30vh;
	width: 50%;
	text-align: center;
}